@model CoreUI.Web.Models.ViewModel.HourFormViewModel

@{
  ViewData["Title"] = "Details";
  Layout = "";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Aprovação de horas
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="@@ViewData["Email"]" />
              <input type="hidden" asp-for="@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
            -->
          </div>
        </div>
        <div class="card-body">
          <form asp-action="Edit">
            <input type="hidden" asp-for="Hour.Id" />

            <div class="form-group row">
              <div class="input-group col-12" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select id="Client_Id" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))" class="form-control" onchange="Project()" disabled>
                  <option value="">Selecione o cliente</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Hour.Id_Project" asp-items="@(new SelectList(Model.Projects, "Id", "Project_Name"))" class="form-control" onchange="TextNameProject(this.id); Employee()" disabled>
                  <option value="">Selecione o projeto</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Funcionário">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Hour.Employee_Id" asp-items="@(new SelectList(Model.Employees, "Id", "Name"))" class="form-control" disabled>
                  <option value="">Selecione o funcionário</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Descrição">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar-check-o"></i>
                  </span>
                </div>
                <select asp-for="Hour.Description" asp-items="@(new SelectList(Model.Description, "Id", "Name"))" class="form-control" onchange="this.value == 3 ? $('.divDocument').show() : $('.divDocument').hide(); setValBilling(this.value)" disabled>
                  <option value="">Selecione</option>
                </select>
                <span style="display: none" asp-validation-for="Hour.Description" name="descricao_hour" id="descricao_hour" class="text-danger text-danger-span  col-12">Descrição inválida</span>
              </div>
            </div>

            @if (@Model.Hour.File != "Sem Documento" && @Model.Hour.File.Length > 0)
            {
              <div class="form-group row">
                <div class="input-group col-12" title="Atestado/Declaração">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-file-text-o"></i>
                    </span>
                  </div>
                  <a href="~/Files/Hour/@Model.Hour.File" download="" class="ml-2 mt-1">@Model.Hour.File</a>
                </div>
              </div>
            }

            <div class="form-group row">
              <div class="input-group col-12" title="Localidade">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </span>
                </div>
                <select asp-for="Hour.LocalityId" asp-items="@(new SelectList(Model.Locality, "Id", "Name"))" class="form-control" disabled>
                </select>
                <span style="display: none" asp-validation-for="Hour.LocalityId" name="locality_id" id="locality_id" class="text-danger text-danger-span  col-12">Descrição inválida</span>
              </div>
            </div>

            <div class="form-group row text-right">
              <div class="input-group col-12" title="Data">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Hour.Date" class="form-control" readonly />
                <span asp-validation-for="Hour.Date" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-2" title="Hora de entrada">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Arrival_Time" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Hour.Arrival_Time" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Pausa para o almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Beginning_Of_The_Break" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Hour.Beginning_Of_The_Break" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Volta do almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.End_Of_The_Break" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Hour.End_Of_The_Break" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Hora de saída">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Exit_Time" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Hour.Exit_Time" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Total de horas">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Total_Hours_In_Activity" class="form-control" readonly />
                <span asp-validation-for="Hour.Total_Hours_In_Activity" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Atividades">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list-ul"></i>
                  </span>
                </div>
                <textarea asp-for="Hour.Activies" class="form-control" placeholder="Atividades" style="height:100px;" readonly></textarea>
                <span asp-validation-for="Hour.Activies" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-6">
                <div class="input-group-append">
                  <button type="button" class="btn btn-sm btn-ghost-primary" onclick="$('#attachment').toggle();  $('#hrefAttachment').attr({ href: 'Files/Hour/Attachment/' + $('#Hour_Attachment').val() }); $('#hrefAttachment').html($('#Hour_Attachment').val());">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group row box-file" id="attachment" style="display:none;">
              <div class="input-group col-4" title="Anexo/Atividades">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input type="hidden" name="Attachment" id="Attachment" class="ml-2" />
                <input type="hidden" asp-for="Hour.Attachment" />
                <p>
                  Download: <a id="hrefAttachment" download=""></a>
                </p>
              </div>
            </div>

            <input type="hidden" asp-for="Hour.Project" class="form-control" />
            <input type="hidden" asp-for="Hour.Consultant" />
            <input type="hidden" asp-for="Hour.Id_Project" />
            <input type="hidden" asp-for="Hour.Employee_Id" />
            <input type="hidden" asp-for="Hour.Creation_Date" />

            <div class="form-group form-actions text-right">
              <div class="col-12">
                <!--<button type="submit" class="btn btn-sm btn-warning" asp-action="Index" onclick="$('.modalSpinner').modal('show')" asp-route-month="@@DateTime.Now.Month" asp-route-year="@@DateTime.Now.Year">Voltar</button>-->
                <button class="btn btn-sm btn-warning" type="button" data-dismiss="modal" aria-label="Close">Voltar</button>
                <input type="hidden" asp-for="Hour.Id" />
                <!--<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@@Model.Hour.Id" onclik="$('.modalSpinner').modal('show')">Editar</a>-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/Hour/Details.js?@DateTime.Now.ToString()"></script>