@model CoreUI.Web.Models.ViewModel.OutlaysFormViewModel

@{
  ViewData["Title"] = "Create";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Lançamento de despesas
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="@ViewData["Email"]" />
              <input type="hidden" asp-for="@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form enctype="multipart/form-data" id="OutlaysForm" asp-action="Create">
            <div class="form-group row">
              <div class="input-group col-10" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Outlays.Client_Id" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))" class="form-control" onchange="Projects()">
                  <option value="">Selecione o cliente</option>
                </select>
                <span asp-validation-for="Outlays.Client_Id" name="id_client" id="id_client" class="text-danger text-danger-span  col-12">Cliente Inválido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Outlays.Project_Id" asp-items="@(new SelectList(Model.Projects, "Id", "Project_Name"))" class="form-control" onchange="Employees()">
                  <option value="">Selecione o projeto</option>
                </select>
                <span asp-validation-for="Outlays.Project_Id" name="id_project" id="id_project" class="text-danger text-danger-span  col-12">Projeto invalido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10" title="Funcionário">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Outlays.Employee_Id" asp-items="@(new SelectList(Model.Employees, "Id", "Name"))" class="form-control">
                  <option value="">Selecione o funcionário</option>
                </select>
                <span asp-validation-for="Outlays.Employee_Id" name="id_employee" id="id_employee" class="text-danger text-danger-span  col-12">Funcionário invalido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-5" title="Data">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Outlays.Date" class="form-control" placeholder="Data" />
                <span asp-validation-for="Outlays.Date" name="outlays_date" id="outlays_date" class="text-danger text-danger-span  col-12">Data invalida</span>
              </div>

              <div class="input-group col-5" title="Número da nota">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-pencil"></i>
                  </span>
                </div>
                <input asp-for="Outlays.NoteNumber" class="form-control" placeholder="Número da nota" />
                <span asp-validation-for="Outlays.NoteNumber" name="outlays_noteNumber" id="outlays_noteNumber" class="text-danger text-danger-span  col-12">Número da nota inválido</span>
              </div>
            </div>

            <div class="row">
              <div class="input-group col-5" title="Valor da nota">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input asp-for="Outlays.NoteValue" class="form-control" placeholder="Valor da nota" />
                <span asp-validation-for="Outlays.NoteValue" name="outlays_noteValue" id="outlays_noteValue" class="text-danger text-danger-span  col-12">Valor da nota inválido</span>
              </div>

              <div class="input-group col-5" title="Arquivo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file"></i>
                  </span>
                </div>
                <input type="file" name="Document" id="Document" class="mt-1 ml-1" />
                <input type="hidden" asp-for="Outlays.File" class="form-control" />
                <span asp-validation-for="Outlays.File" name="outlays_file" id="outlays_file" class="text-danger text-danger-span  col-12">Arquivo inválido</span>
              </div>
            </div>

            <div class="row mt-3">
              <div class="input-group col-10" title="Descrição">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list"></i>
                  </span>
                </div>
                <textarea asp-for="Outlays.Description" class="form-control" placeholder="Descrição"></textarea>
                <span asp-validation-for="Outlays.Description" name="outlays_description" id="outlays_description" class="text-danger text-danger-span  col-12">Descrição inválida</span>
              </div>
            </div>

            <!--
  <div class="form-group row">
    <div class="input-group col-10" title="Projeto">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-user"></i>
        </span>
      </div>
      <select asp-for="Outlays.Employee_Id" asp-items="@@(new SelectList(Model.Employees, "Id", "Name"))" class="form-control" >
        <option value="">Selecione o projeto</option>
      </select>
      <span asp-validation-for="Outlays.Employee_Id" name="id_employee" id="id_employee" class="text-danger text-danger-span  col-12">Funcionário invalido</span>
    </div>
  </div>
  -->

            <input type="hidden" asp-for="Outlays.Status" value="1" />
            <div class="form-group form-actions text-right col-10 mt-3">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index" onclick="$('.modalSpinner').modal('show')">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="OutlaysSubmit();">Criar</button>
            </div>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/Outlays/Generic.js"></script>