@model IEnumerable<CoreUI.Web.Models.List.ListOutlays>

@{
  ViewData["Title"] = "Index";
}

<div class="container-fluid mt-2">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-edit"></i> Lançamento de despesas
            <div class="card-header-actions">
              <a asp-action="Create">
                <input type="hidden" asp-for="@ViewData["Email"]" />
                <input type="hidden" asp-for="@ViewData["Password"]" />
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div id="DataTables_Table_0_filter" class="dataTables_filter col-4">
                <!--
        <label>
          Pesquisar:
          <input type="search" name="searchDataTable" id="searchDataTable" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
        </label>
        -->

                <label>
                  Mês:
                  <select name="searchMothDataTable" id="searchMothDataTable" class="form-control">
                    <option value="">Todos</option>
                    <option value="1">Jan</option>
                    <option value="2">Fev</option>
                    <option value="3">Mar</option>
                    <option value="4">Abr</option>
                    <option value="5">Mai</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Ago</option>
                    <option value="9">Set</option>
                    <option value="10">Out</option>
                    <option value="11">Nov</option>
                    <option value="12">Dez</option>
                  </select>
                </label>

                <label>
                  Ano:
                  <select name="searchYearDataTable" id="searchYearDataTable" class="form-control">
                    <option value=""></option>
                  </select>
                </label>
              </div>
            </div>
            <div class="text-right">
              <label id="sum"></label>
            </div>
            <table class="table table-responsive-sm table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="btn btn-primary custom-control-input" name="checkedAll" id="checkedAll" onclick="this.checked == true ? checkedAll() : $('.checkedItem').prop('checked',false)">
                      <label class="custom-control-label mb-3 ml-2" for="checkedAll"></label>
                    </div>
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Status)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Client)
                  </th>
                  <th>@Html.DisplayNameFor(model => model.Project)</th>
                  <th>
                    @Html.DisplayNameFor(model => model.Employee)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Date)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.NoteNumber)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.NoteValue)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Description)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.File)
                  </th>
                  <th>
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody id="tbodyHour">
                @foreach (var item in Model)
                {
                  <tr>
                    <td class="trCount" id="tr_@item.Id">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="btn btn-primary custom-control-input checkedItem" name="checkedItem" id="checkedItem_@item.Id" onclick="this.checked == true ? document.querySelector('#ids').value += @item.Id+','  :  document.querySelector('#ids').value = document.querySelector('#ids').value.replace('@item.Id,', '')" />
                        <label class="custom-control-label mb-3 ml-3 mt-1" for="checkedItem_@item.Id"></label>
                      </div>
                    </td>
                    <td>
                      @{
                        switch (item.Status)
                        {
                          case 1:
                            @Html.DisplayName("Aguardando");
                            break;

                          case 2:
                            @Html.DisplayName("Revisar");
                            break;

                          case 3:
                            @Html.DisplayName("Reprovado");
                            break;

                          case 4:
                            @Html.DisplayName("Aprovado");
                            break;

                          default:
                            @Html.DisplayName("Sem status");
                            break;
                        }

                      }
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Project)
                    </td>
                    <td class="DatesMonth">
                      @Html.DisplayFor(modelItem => item.Employee)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.NoteNumber)
                    </td>
                    <td>
                      R$ @Html.DisplayFor(modelItem => item.NoteValue)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                      <a href="~/Files/Outlays/@Html.DisplayFor(modelItem => item.File)" download="">@Html.DisplayFor(modelItem => item.File)</a>
                    </td>
                    <td colspan="2">
                      <div class="row ml-0">
                        <a class="btn btn-ghost-warning" asp-action="Details" asp-route-id="@item.Id" onclick="$('.modalSpinner').modal('show');"><i class="fa fa-search"></i></a>
                        <!--
                          <a class="btn btn-ghost-primary" asp-action="Edit" asp-route-id="@@item.Id" onclick="$('.modalSpinner').modal('show');"><i class="fa fa-edit"></i></a>
                          <button type="button" class="btn btn-ghost-danger" onclick="fn_showMessageDelete(@@item.Id);"><i class="fa fa-trash-o"></i></button>
                        -->
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <form id="UpdateStatus" asp-action="UpdateStatus">
            <div class="row mb-3 ml-1">
              <div class="col-2">
                <input type="hidden" name="ids" id="ids" value="" />
                <select class="form-control" name="status" id="status">
                  <option value="">Selecione...</option>
                  <option value="1">Aguardando</option>
                  <option value="4">Aprovado</option>
                  <option value="3">Reprovado</option>
                  <option value="2">Revisar</option>
                </select>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-primary" onclick="confirmUpdateStatus()">Aplicar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>

<script src="~/js/Outlays/Index.js"></script>
<script src="~/js/OutlaysAdmin/Index.js"></script>