@model CoreUI.Web.Models.ViewModel.ProjectFormViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Detalhes do projeto
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="@@ViewData["Email"]" />
              <input type="hidden" asp-for="@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
            -->
          </div>
        </div>
        <div class="card-body">
          <form id="projectForm" asp-action="Create">
            <div class="form-group row">
              <div class="input-group col-12" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Project.Project_Name" class="form-control" disabled />
                <span asp-validation-for="Project.Project_Name" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select asp-for="Project.Client_Id" class="form-control" asp-items="@(new SelectList(Model.Client, "Id", "Name"))" disabled>
                  <option value="">Client</option>
                </select>
                <span asp-validation-for="Project.Client_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Gerente Responsável">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Project_Manager_Id" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))" disabled>
                  <option value="0" disabled>Nome do gerente</option>
                </select>
                <span asp-validation-for="Project.Project_Manager_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Gerente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Manager_Id" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))" disabled>
                  <option value="0" disabled>Nome do gerente</option>
                </select>
                <span asp-validation-for="Project.Manager_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-6" title="Centro de custo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-money"></i>
                  </span>
                </div>
                <input asp-for="Project.Cost_Center_Id" class="form-control" value="0" disabled />
                <span asp-validation-for="Project.Cost_Center_Id" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-6" title="Ativo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-check-square-o"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Active" disabled>
                  <option value="" disabled selected>Active</option>
                  <option value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
                <span asp-validation-for="Project.Active" class="text-danger col-12"></span>
              </div>
            </div>

            <input type="hidden" name="Clients" id="Clients" value="@ViewBag.Clients">
            <input type="hidden" name="Projects" id="Projects" value="@ViewBag.Projects">
            <input type="hidden" name="Manager" id="Manager" value="@ViewBag.Manager">
            <input type="hidden" name="Manager_Project" id="Manager_Project" value="@ViewBag.Manager_Project">

            <div class="form-group form-actions text-right col-12">
              <button type="submit" class="btn btn-sm btn-warning" asp-action="Index" asp-route-accessLevel="@ViewBag.AcessLevel" asp-route-employeeId="@ViewBag.Id" asp-route-clients="@ViewBag.Clients" asp-route-projects="@ViewBag.Projects" asp-route-manager="@ViewBag.Manager" asp-route-manager_project="@ViewBag.Manager_Project">Voltar</button>
              <button type="button" class="btn btn-sm btn-primary" onclick="Modal(`/Projects/Edit/@Model.Project.Id?clients=${$('#Clients').val().length > 0 ? $('#Clients').val() : null}&projects=${$('#Projects').val().length > 0 ? $('#Projects').val(): null}&manager_project=${$('#Manager_Project').val().length > 0 ? $('#Manager_Project').val(): null}&manager=${$('#Manager').val().length > 0 ? $('#Manager').val(): null}`, 'GET')">Editar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toast-container" class="toast-top-center" style="display:none;">
  <div class="toast toast-info" aria-live="polite">
    <div class="toast-title">Saved</div>
    <div class="toast-message">
      Saved successfully
    </div>
  </div>
</div>

<script src="~/js/Project/Index.js?@DateTime.Now.ToString()"></script>

