@model CoreUI.Web.Models.ViewModel.ProjectFormViewModel

@{
  ViewData["Title"] = "Edit";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Editar projeto
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="@ViewData["Email"]" />
              <input type="hidden" asp-for="@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form id="projectForm" asp-action="Edit">
            <input type="hidden" asp-for="Project.Id" />
            <div class="form-group row">
              <div class="input-group col-10" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Project.Project_Name" class="form-control" placeholder="Nome do projeto" />
                <span asp-validation-for="Project.Project_Name" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Client_Id" asp-items="@(new SelectList(Model.Client, "Id", "Name"))">
                  <option value="" disabled>Nome do cliente</option>
                </select>
                <span asp-validation-for="Project.Client_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10" title="Gerente responsável">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Project_Manager_Id" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))">
                  <option value="0" disabled>Gerente Responsável</option>
                </select>
                <span asp-validation-for="Project.Project_Manager_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10" title="Gerente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Manager_Id" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))">
                  <option value="0" disabled>Gerente</option>
                </select>
                <span asp-validation-for="Project.Manager_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-5" title="Centro de custo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-money"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Cost_Center_Id">
                  <option value="0">Selecione o Centro de Custo</option>
                </select>
                <span asp-validation-for="Project.Cost_Center_Id" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-5" title="Ativo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-check-square-o"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Active">
                  <option value="" disabled selected>Selecione o status</option>
                  <option value="1">Ativo</option>
                  <option value="0">Inativo</option>
                </select>
                <span asp-validation-for="Project.Active" class="text-danger col-12"></span>
              </div>
            </div>
            <div class="form-group form-actions text-right col-10">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index" asp-route-accessLevel="@ViewBag.AcessLevel" asp-route-employeeId="@ViewBag.Id">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="ProjectFormSubmit();">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="~/js/Project/Generic.js"></script>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
