@model CoreUI.Web.Models.ViewModel.ProjectFormViewModel

@{
  ViewData["Title"] = "Index";
}


<!-- Breadcrumb-->
<div class="container-fluid mt-2">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-edit"></i> Projetos
            <div class="card-header-actions">
              <!--
              <a asp-action="Create">
                <input type="hidden" asp-for="@@ViewData["Email"]" />
                <input type="hidden" asp-for="@@ViewData["Password"]" />
                <i class="fa fa-plus"></i>
              </a>
              -->
              <button type="button" class="btn btn-ghost-primary" onclick="Modal(`Projects/Create?clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val(): null}&manager_project=${$('#manager_project').val().length > 0 ? $('#manager_project').val(): null}&manager=${$('#manager').val().length > 0 ? $('#manager').val(): null}`, 'GET')">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row ml-0">
              <div class="col-12 mb-3">
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#DataTables_Table_0_filter" aria-expanded="false" aria-controls="DataTables_Table_0_filter">
                  Filtros
                </button>
              </div>
              <div id="DataTables_Table_0_filter" class="dataTables_filter row col-12 form-group collapse">
                <div class="col-8">
                  <form asp-action="Index">
                    <label>
                      Clientes:
                      <select name="clients" id="clients" asp-items="@(new SelectList(Model.Client, "Id", "Name"))" class="form-control">
                        <option value="">Selecione</option>
                      </select>
                    </label>

                    <label>
                      Projetos:
                      <select name="projects" id="projects" asp-items="@(new SelectList(Model.Projects, "Id", "Project_Name"))" class="form-control">
                        <option value="">Selecione</option>
                      </select>
                    </label>

                    @{
                      if (ViewBag.AcessLevel == 3)
                      {
                        <label>
                          Gerente do projeto:
                          <select name="manager_project" id="manager_project" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))" class="form-control">
                            <option value="">Selecione</option>
                          </select>
                        </label>

                        <label>
                          Gerente:
                          <select name="manager" id="manager" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))" class="form-control">
                            <option value="">Selecione</option>
                          </select>
                        </label>
                      }
                    }
                    <button type="submit" class="btn btn-primary"><i class="fa fa-send-o"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <table class="table table-responsive-sm table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>
                    @Html.DisplayNameFor(model => model.Project.Client_Id)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project.Project_Name)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project.Project_Manager_Id)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project.Manager_Id)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project.Active)
                  </th>
                  <th>
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody id="tbodyHour">
                @foreach (var item in Model.ListProject)
                {
                <tr>
                  <td>
                    @Html.DisplayFor(modelItem => item.Client)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Project)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Project_Manager)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                  </td>
                  <td>
                    @{
                        if (item.Status == "1")
                        {
                      @Html.DisplayName("Ativo")
                        }
                        else
                        {
                      @Html.DisplayName("Inativo")
                        }
                    }
                  </td>

                  <td colspan="2">
                    <div class="row ml-0">
                      <button type="button" class="btn btn-ghost-warning" onclick="Modal(`/Projects/Details/@item.Id?clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val(): null}&manager_project=${$('#manager_project').val().length > 0 ? $('#manager_project').val(): null}&manager=${$('#manager').val().length > 0 ? $('#manager').val(): null}`, 'GET')">
                        <i class="fa fa-search"></i>
                      </button>
                      <button type="button" class="btn btn-ghost-primary" onclick="Modal(`/Projects/Edit/@item.Id?clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val(): null}&manager_project=${$('#manager_project').val().length > 0 ? $('#manager_project').val(): null}&manager=${$('#manager').val().length > 0 ? $('#manager').val(): null}`, 'GET')">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-ghost-danger" onclick="fn_showMessageDelete(@item.Id);"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>


<input type="hidden" name="Clients" id="Clients" value="@ViewBag.Clients">
<input type="hidden" name="Projects" id="Projects" value="@ViewBag.Projects">
<input type="hidden" name="Manager" id="Manager" value="@ViewBag.Manager">
<input type="hidden" name="Manager_Project" id="Manager_Project" value="@ViewBag.Manager_Project">

<script src="~/js/Employee/Delete.js?@DateTime.Now.ToString()"></script>
<script src="~/js/Project/Index.js?@DateTime.Now.ToString()"></script>