@model CoreUI.Web.Models.DetailsPricing

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailsPricing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeContract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeContract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hiring_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hiring_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialtyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialtyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoursMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoursMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HourConsultant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HourConsultant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HourSale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HourSale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueCLTType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueCLTType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cust)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cust)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgeYears)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgeYears)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
