@model CoreUI.Web.Models.ViewModel.ProjectTeamFormViewModel

@{
  ViewData["Title"] = "Create";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Create Project Team
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="Project.@ViewData["Email"]" />
              <input type="hidden" asp-for="Project.@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form id="projectTeamForm" asp-action="Create">
            <div class="form-group row">
              <div class="input-group col-10" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" name="listClients" id="listClients" asp-items="@(new SelectList(Model.Client, "Id", "Name"))" onchange="FilterProjectPerClient();">
                  <option value="" selected>Selecione o cliente</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project_team.Project_Id" asp-items="@(new SelectList(Model.Project, "Id", "Project_Name"))" title="Projeto" disabled>
                  <option value="" disabled selected>Selecione o projeto</option>
                </select>
                <span asp-validation-for="Project_team.Project_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10" title="Funcionário">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project_team.Employee_Id" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))">
                  <option value="" selected disabled>Selecione o funcionário</option>
                </select>
                <span asp-validation-for="Project_team.Employee_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Project_team.Start_Date" class="form-control" title="Data de início" />
                <span asp-validation-for="Project_team.Start_Date" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Project_team.End_Date" class="form-control" title="Data de término" />
                <span asp-validation-for="Project_team.End_Date" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group form-actions text-right col-10">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index" asp-route-accessLevel="@ViewBag.AcessLevel" asp-route-employeeId="@ViewBag.Id">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="projectTeamSubmit();">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/ProjectTeam/Generic.js?@DateTime.Now.ToString()"></script>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
