@model CoreUI.Web.Models.ViewModel.ProjectTeamFormViewModel

@{
  ViewData["Title"] = "Create";
    Layout = "";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Detalhes do equipe no projeto
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="Project.@ViewData["Email"]" />
              <input type="hidden" asp-for="Project.@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form id="projectForm" asp-action="Edit">
            <div class="form-group row">
              <div class="input-group col-12" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select disabled asp-for="Project_team.Project_Id" asp-items="@(new SelectList(Model.Project, "Id", "Project_Name"))" class="form-control">
                  <option value="">Projeto</option>
                </select>
                <span asp-validation-for="Project_team.Project_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Funcionário">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select disabled class="form-control" asp-for="Project_team.Employee_Id" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))">
                  <option value="">Funcionário</option>
                </select>
                <span asp-validation-for="Project_team.Employee_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-6" title="Data de início">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Project_team.Start_Date" class="form-control" readonly />
                <span asp-validation-for="Project_team.Start_Date" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-6" title="Data de término">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Project_team.End_Date" class="form-control" readonly />
                <span asp-validation-for="Project_team.End_Date" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="submit" asp-route-clients="@ViewBag.Clients" asp-route-projects="@ViewBag.Projects" asp-route-employees="@ViewBag.Employees">Voltar</button>
              <button class="btn btn-sm btn-primary" type="button" onclick="Modal(`/Project_team/Edit/@Model.Project_team.Id?clients=@ViewBag.Clients&projects=@ViewBag.Projects&employees=@ViewBag.Employees`, 'GET')">Editar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toast-container" class="toast-top-center" style="display:none;">
  <div class="toast toast-info" aria-live="polite">
    <div class="toast-title">Saved</div>
    <div class="toast-message">
      Saved successfully
    </div>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
