@model CoreUI.Web.Models.ViewModel.ProjectTeamFormViewModel

@{
  ViewData["Title"] = "Create";
    Layout = "";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Editar equipe do projeto
          <div class="card-header-actions">
            <button type="button" class="btn btn-sm btn-ghost-primary" onclick="Modal(`/Project_team/Create?clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}&employees=${$('#employees').val().length > 0 ? $('#employees').val() : null}`, 'GET')">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form id="projectTeamForm" asp-action="Edit">
            <input type="hidden" asp-for="Project_team.Id" />

            <div class="form-group row">
              <div class="input-group col-12" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" name="listClients" id="listClients" asp-items="@(new SelectList(Model.Client, "Id", "Name"))" onchange="FilterProjectPerClient()">
                  <!--<option value="" selected>Selecione o cliente</option>-->
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select asp-for="Project_team.Project_Id" asp-items="@(new SelectList(Model.Project, "Id", "Project_Name"))" class="form-control">
                  <option value="" disabled>Selecione o projeto</option>
                </select>
                <span asp-validation-for="Project_team.Project_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Funcionário">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project_team.Employee_Id" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))">
                  <option value="" disabled>Selecione o funcionário</option>
                </select>
                <span asp-validation-for="Project_team.Employee_Id" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-6" title="Data de início">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Project_team.Start_Date" class="form-control" />
                <span asp-validation-for="Project_team.Start_Date" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-6" title="Data de término">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Project_team.End_Date" class="form-control" />
                <span asp-validation-for="Project_team.End_Date" class="text-danger col-12"></span>
              </div>
            </div>

            <input type="hidden" name="Clients" id="Clients" value="@ViewBag.Clients">
            <input type="hidden" name="Projects" id="Projects" value="@ViewBag.Projects">
            <input type="hidden" name="Employees" id="Employees" value="@ViewBag.Employees">


            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="submit" asp-route-clients="@ViewBag.Clients" asp-route-projects="@ViewBag.Projects" asp-route-employees="@ViewBag.Employees">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="projectTeamSubmit();">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/ProjectTeam/Generic.js?@DateTime.Now.ToString()"></script>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
