@model CoreUI.Web.Models.ViewModel.ProjectTeamFormViewModel

@{
  ViewData["Title"] = "Index";
}


<!-- Breadcrumb-->
<div class="container-fluid mt-2">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-edit"></i> Equipe do projeto
            <div class="card-header-actions">
              <!--
              <a asp-action="Create">
                <input type="hidden" asp-for="@@ViewData["Email"]" />
                <input type="hidden" asp-for="@@ViewData["Password"]" />
                <i class="fa fa-plus"></i>
              </a>
              -->
              <button type="button" class="btn btn-sm btn-ghost-primary" onclick="Modal(`/Project_team/Create?clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}&employees=${$('#employees').val().length > 0 ? $('#employees').val() : null}`, 'GET')">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row ml-0">
              <div class="col-12 mb-3">
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#DataTables_Table_0_filter" aria-expanded="false" aria-controls="DataTables_Table_0_filter">
                  Filtros
                </button>
              </div>
              <div id="DataTables_Table_0_filter" class="dataTables_filter row col-12 form-group collapse">
                <div class="col-8">
                  <form asp-action="Index">
                    <label>
                      Clientes:
                      <select name="clients" id="clients" asp-items="@(new SelectList(Model.Client, "Id", "Name"))" class="form-control">
                        <option value="">Selecione</option>
                      </select>
                    </label>

                    <label>
                      Projetos:
                      <select name="projects" id="projects" asp-items="@(new SelectList(Model.Project, "Id", "Project_Name"))" class="form-control">
                        <option value="">Selecione</option>
                      </select>
                    </label>

                    <label>
                      Funcionários:
                      <select name="employees" id="employees" asp-items="@(new SelectList(Model.Employee, "Id", "Name"))" class="form-control">
                        <option value="">Selecione</option>
                      </select>
                    </label>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-send-o"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <table class="table table-responsive-sm table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>
                    Cliente
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project_team.Project_Id)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project_team.Employee_Id)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project_team.Start_Date)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Project_team.End_Date)
                  </th>
                  <th>
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody id="tbodyHour">
                @foreach (var item in Model.ProjectsTeams)
                {
                  <tr>
                    <th>
                      @Html.DisplayFor(modelItem => item.Client)
                    </th>
                    <td>
                      @Html.DisplayFor(modelItem => item.Project)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Employee)
                    </td>
                    <td id="start_@item.Id">
                      @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td colspan="2">
                      <div class="row ml-0">
                        <button class="btn btn-ghost-warning" onclick="Modal(`/Project_team/Details/@item.Id?clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}&employees=${$('#employees').val().length > 0 ? $('#employees').val() : null}`, 'GET')"><i class="fa fa-search"></i></button>
                        <button class="btn btn-ghost-primary" onclick="Modal(`/Project_team/Edit/@item.Id?clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}&employees=${$('#employees').val().length > 0 ? $('#employees').val() : null}`, 'GET')"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-ghost-danger" onclick="fn_showMessageDelete(@item.Id, '@Html.DisplayFor(modelItem => item.Start)', '@Html.DisplayFor(modelItem => item.End)', @item.ProjectId, @item.EmployeeId);"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>

<input type="hidden" name="Month" id="Month" value="@ViewBag.Month" />
<input type="hidden" name="Year" id="Year" value="@ViewBag.Year" />
<input type="hidden" name="Clients" id="Clients" value="@ViewBag.Clients">
<input type="hidden" name="Projects" id="Projects" value="@ViewBag.Projects">
<input type="hidden" name="Employees" id="Employees" value="@ViewBag.Employees">

<script src="~/js/ProjectTeam/Index.js?@DateTime.Now.ToString()"></script>
<script src="~/js/ProjectTeam/Create.js?@DateTime.Now.ToString()"></script>
<script src="~/js/ProjectTeam/Delete.js?@DateTime.Now.ToString()"></script>