@model CoreUI.Web.Models.ViewModel.PricingFormViewModel

@{
  ViewData["Title"] = "Create";
  Layout = "";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Precificação
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="Pricing.@@ViewData["Email"]" />
              <input type="hidden" asp-for="Pricing.@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
                -->
          </div>
        </div>
        <div class="card-body">
          <form id="PricingsForm" asp-action="EditAsync" enctype="multipart/form-data">
            <input type="hidden" asp-for="Pricing.Id" />
            <div class="form-group row">
              <div class="input-group col-12" title="Tipo de precificação">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.TypePricing"  class="form-control" asp-items="@(new SelectList(Model.TypePricing, "Id",  "Name"))">
                  <option value="">Tipo de precificação</option>
                </select>
                <span asp-validation-for="Pricing.TypePricing" name="pricing_typePricing" id="pricing_typePricing" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.Client_Id" class="form-control" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))">
                  <option value="">Cliente</option>
                </select>
                <span asp-validation-for="Pricing.Client_Id" name="pricing_client_Id" id="pricing_client_Id" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Alocação">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Pricing.Allocation" class="form-control" placeholder="Alocação" />
                <span asp-validation-for="Pricing.Allocation" name="pricing_allocation" id="pricing_allocation" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Executivo da conta">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.AccountExecutive_Id" class="form-control" asp-items="@(new SelectList(Model.Employees, "Id",  "Name"))">
                  <option value="">Executivo da conta</option>
                </select>
                <span asp-validation-for="Pricing.AccountExecutive_Id" name="pricing_accountExecutive" id="pricing_accountExecutive" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Número da proposta">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-sort-numeric-asc"></i>
                  </span>
                </div>
                <input type="number" asp-for="Pricing.NumberProposal" class="form-control" placeholder="Número da proposta" />
                <span asp-validation-for="Pricing.NumberProposal" name="pricing_numberProposal" id="pricing_numberProposal" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Gerente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.AllocationManager_Id" class="form-control" asp-items="@(new SelectList(Model.Managers, "Id", "Name"))">
                  <option value="">Gerente</option>
                </select>
                <span asp-validation-for="Pricing.AllocationManager_Id" name="pricing_allocationManager_Id" id="pricing_allocationManager_Id" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Responsável">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.Administrator_Id" class="form-control" asp-items="@(new SelectList(Model.Managers, "Id", "Name"))">
                  <option value="">Responsável</option>
                </select>
                <span asp-validation-for="Pricing.Administrator_Id" name="pricing_administrator_Id" id="pricing_administrator_Id" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Data inicial">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input type="date" asp-for="Pricing.InitialDate" class="form-control" placeholder="Data inicial"  onchange="betweenDates();"/>
                <span asp-validation-for="Pricing.InitialDate" name="pricing_initialDate" id="pricing_initialDate" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Data final">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input type="date" asp-for="Pricing.EndDate" class="form-control" placeholder="Data final" onchange="betweenDates();" />
                <span asp-validation-for="Pricing.EndDate" name="pricing_endDate" id="pricing_endDate" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Tempo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input type="text" asp-for="Pricing.TimeBetweenInitialAndEndDate" class="form-control" placeholder="Tempo entre a data inicial e final"  readonly />
                <span asp-validation-for="Pricing.TimeBetweenInitialAndEndDate" name="pricing_TimeBetweenInitialAndEndDate" id="pricing_TimeBetweenInitialAndEndDate" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Risco">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-percent"></i>
                  </span>
                </div>
                <input asp-for="Pricing.Risk" class="form-control" placeholder="Risco" />
                <span asp-validation-for="Pricing.Risk" name="pricing_risk" id="pricing_risk" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="button" data-dismiss="modal" aria-label="Close">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="FormSubmit('/Pricings/EditAsync?id=@Model.Pricing.Id', `/DetailsPricings/Create`)">Próximo</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="hiring_Id" id="hiring_Id" value="" />
<script src="~/js/Pricing/Generic.js?@DateTime.Now.ToString()"></script>
<script>
  betweenDates();
</script>
