@model CoreUI.Web.Models.ViewModel.PricingFormViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- Breadcrumb-->
<div class="container-fluid mt-2">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-edit"></i> Aprovação de horas
            <div class="card-header-actions">
              <button class="btn btn-sm btn-ghost-primary" onclick="Modal(`/Pricings/Create`, 'GET')">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="text-right">
              <label id="sum"></label>
            </div>
            <div id="exportExcel">
              <table id="example" class="table table-responsive-sm table-bordered  table-sm">
                <thead>
                  <tr>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.TypePricing)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.Client_Id)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.Allocation)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.AccountExecutive_Id)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.NumberProposal)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.AllocationManager_Id)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.Administrator_Id)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.InitialDate)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.EndDate)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.TimeBetweenInitialAndEndDate)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Pricing.Risk)
                    </th>
                    <th>
                      Ações
                    </th>
                  </tr>
                </thead>
                <tbody id="tbodyHour">
                  @foreach (var item in Model.ListPricing)
                  {
                    <tr>
                      <td>
                        @Html.DisplayFor(modelItem => item.TypesPricing)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Allocation)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.AccountExecutive)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.NumberProposal)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.AllocationManager)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Administrator)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.InitialDate)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.TimeBetweenInitialAndEndDate)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Risk)
                      </td>
                      <td>
                        <div class="row ml-0">
                          <button type="button" class="btn btn-ghost-warning" asp-route-id="@item.Id" onclick="Modal(`/Pricings/Details/@item.Id`, 'GET')"><i class="fa fa-search"></i></button>
                          <button type="button" class="btn btn-ghost-primary"  asp-route-id="@item.Id" onclick="Modal(`/Pricings/Edit/@item.Id`, 'GET')"><i class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-ghost-danger"  asp-route-id="@item.Id" onclick="fn_showMessageDelete(@item.Id);"><i class="fa fa-trash-o"></i></button>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>

<script src="~/js/Pricing/Index.js?@DateTime.Now.ToString()"></script>