@model CoreUI.Web.Models.ViewModel.HourFormViewModel

@{
    ViewData["Title"] = "Create"; ;
    //ViewData["Name"];
    //ViewData["Id"];
    Layout = "";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-edit"></i> Lançamento de hora
            <div class="card-header-actions">
              <!--
              <a asp-action="Create">
                <input type="hidden" asp-for="@@ViewData["Email"]" />
                <input type="hidden" asp-for="@@ViewData["Password"]" />
                <i class="fa fa-plus"></i>
              </a>
              -->
          </div>
        </div>
        <div class="card-body">
          <form id="HoursForm" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group row">
              <div class="input-group col-12" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Hour.Id_Project" asp-items="@(new SelectList(Model.Projects, "Id", "Project_Name"))" class="form-control" onchange="TextNameProject(this.id)">
                  <option value="">Selecione o projeto</option>
                </select>
                <span style="display: none" asp-validation-for="Hour.Id_Project" name="id_project" id="id_project" class="text-danger text-danger-span  col-12">Projeto inválido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Descrição">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar-check-o"></i>
                  </span>
                </div>
                <select asp-for="Hour.Description" asp-items="@(new SelectList(Model.Description, "Id", "Name"))" class="form-control" onchange="this.value == 3 ? $('.divDocument').show() : $('.divDocument').hide(); setValBilling(this.value)">
                  <option value="">Selecione</option>
                </select>
                <span style="display: none" asp-validation-for="Hour.Description" name="descricao_hour" id="descricao_hour" class="text-danger text-danger-span  col-12">Descrição inválida</span>
              </div>
            </div>

            <div class="form-group row divDocument" style="display:none">
              <div class="input-group col-12" title="Atestado/Declaração">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input type="file" name="Document" id="Document" class="ml-2" />
                <input type="hidden" asp-for="Hour.File" />
                <span name="document_hour" id="document_hour" class="text-danger text-danger-span  col-12" style="display: none">Documento inválido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Localidade">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar-check-o"></i>
                  </span>
                </div>
                <select asp-for="Hour.LocalityId" asp-items="@(new SelectList(Model.Locality, "Id", "Name"))" class="form-control">
                </select>
                <span style="display: none" asp-validation-for="Hour.LocalityId" name="locality_id" id="locality_id" class="text-danger text-danger-span  col-12">Descrição inválida</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Data">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Hour.Date" class="form-control datepicker" onchange="calculaHora();" />
                <span style="display: none" asp-validation-for="Hour.Date" name="hour_date" id="hour_date" class="text-danger text-danger-span  col-12">Data inválida</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-2" title="Hora de entrada">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Arrival_Time" class="form-control" onchange="calculaHora(); SetValuesHours();" value="00:00" />
                <span style="display: none" asp-validation-for="Hour.Arrival_Time" name="hour_arrival_time" id="hour_arrival_time" class="text-danger text-danger-span col-12">Entrada inválida</span>
              </div>

              <div class="input-group col-2" title="Pausa para o almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Beginning_Of_The_Break" class="form-control" onchange="calculaHora(); SetValuesHours();" value="00:00" />
                <span style="display: none" asp-validation-for="Hour.Beginning_Of_The_Break" name="hour_beginning_of_the_break" id="hour_beginning_of_the_break" class="text-danger text-danger-span col-12">Início de intervalo inválido</span>
              </div>

              <div class="input-group col-2" title="Volta do almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.End_Of_The_Break" class="form-control" onchange="calculaHora(); SetValuesHours();" value="00:00" />
                <span style="display: none" asp-validation-for="Hour.End_Of_The_Break" name="hour_end_of_the_break" id="hour_end_of_the_break" class="text-danger text-danger-span col-12">Retorno de do intervalo inválido</span>
              </div>

              <div class="input-group col-2" title="Hora de saída">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Exit_Time" class="form-control" onchange="calculaHora(); SetValuesHours();" value="00:00" />
                <span style="display: none" asp-validation-for="Hour.Exit_Time" name="hour_exit_time" id="hour_exit_time" class="text-danger text-danger-span col-12">Saída inválida</span>
              </div>

              <div class="input-group col-2" title="Total de horas">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Total_Hours_In_Activity" class="form-control" value="00:00" readonly />
                <span style="display: none" asp-validation-for="Hour.Total_Hours_In_Activity" name="hour_total_hours_in_activity" id="hour_total_hours_in_activity" class="text-danger text-danger-span col-12">Cálculo de horas inválido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Atividades">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list-ul"></i>
                  </span>
                </div>
                <textarea asp-for="Hour.Activies" class="form-control" style="height: 100px;" placeholder="Atividades"></textarea>
                <span style="display: none" asp-validation-for="Hour.Activies" name="hour_activies" id="hour_activies" class="text-danger text-danger-span text-danger-span col-12">Atividades inválidas</span>
              </div>
            </div>

            <div class="form-group row" style="display:none;">
              <div class="input-group col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input type="hidden" asp-for="Hour.Consultant" class="form-control" value="@ViewBag.Email" />
                <span style="display: none" asp-validation-for="Hour.Consultant" class="text-danger text-danger-span "></span>
              </div>
            </div>

            <input type="hidden" asp-for="Hour.Billing" value="1" />
            <input type="hidden" asp-for="Hour.Approval" value="1" />
            <input type="hidden" asp-for="Hour.Start_Time" />
            <input type="hidden" asp-for="Hour.Stop_Time" />
            <input type="hidden" asp-for="Hour.Start_Time_2" />
            <input type="hidden" asp-for="Hour.Stop_Time_2" />
            <input type="hidden" asp-for="Hour.Total_Activies_Hours" />
            <input type="hidden" asp-for="Hour.Creation_Date" class="form-control" value="@DateTime.Now" />
            <input type="hidden" class="form-control" asp-for="Hour.Project" />
            <input type="hidden" class="form-control" asp-for="Project_team.Project_Id" />
            <input type="hidden" class="form-control" asp-for="Hour.Employee_Id" value="@ViewBag.Id" />

            <input type="hidden" name="approval" id="approval" value="@ViewBag.Approval">
            <input type="hidden" name="description" id="description" value="@ViewBag.Description">
            <input type="hidden" name="clients" id="clients" value="@ViewBag.Clients">
            <input type="hidden" name="projects" id="projects" value="@ViewBag.Projects">
            <input type="hidden" name="month" id="month" value="@ViewBag.Month">
            <input type="hidden" name="year" id="year" value="@ViewBag.Year">

            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index" asp-route-month="@ViewBag.Month" asp-route-year="@ViewBag.Year" asp-route-approval="@ViewBag.Approval" asp-route-description="@ViewBag.Description" asp-route-clients="@ViewBag.Clients" asp-route-projects="@ViewBag.Projects">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="HourSubmit();">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  StartDate = $('#Project_team_Start_Date').val();
  EndDate = $('#Project_team_End_Date').val();
</script>
<script src="~/js/Hour/Create.js?@DateTime.Now.ToString()"></script>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
