@model CoreUI.Web.Models.ViewModel.HourFormViewModel

@{
  ViewData["Title"] = "Details";
  Layout = "";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Detalhe do lançamento
          <div class="card-header-actions">
            <button type="button" class="btn btn-sm btn-ghost-primary" onclick="Modal(`Hours/Create?month=${$('#searchMothDataTable').val().length > 0 ? $('#searchMothDataTable').val() : null}&year=${$('#searchYearDataTable').val().length > 0 ? $('#searchYearDataTable').val() : null}&approval=${$('#approval').val().length > 0 ? $('#approval').val() : null}&description=${$('#description').val().length > 0 ? $('#description').val() : null}&clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}`, 'GET')">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form asp-action="Edit">
            <input type="hidden" asp-for="Hour.Id" />

            <div class="form-group row">
              <div class="input-group col-12" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Hour.Project" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Descrição">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar-check-o"></i>
                  </span>
                </div>
                <select asp-for="Hour.Description" asp-items="@(new SelectList(Model.Description, "Id", "Name"))" class="form-control" onchange="this.value == 3 ? $('.divDocument').show() : $('.divDocument').hide(); setValBilling(this.value)" disabled>
                  <option value="">Selecione</option>
                </select>
              </div>
            </div>

            @if (@Model.Hour.File != "Sem Documento" && @Model.Hour.File.Length > 0)
            {
              <div class="form-group row">
                <div class="input-group col-12" title="Atestado/Declaração">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-file-text-o"></i>
                    </span>
                  </div>
                  <a href="~/Files/Hour/@Model.Hour.File" download="" class="ml-2 mt-1">@Model.Hour.File</a>
                </div>
              </div>
            }

            <div class="form-group row">
              <div class="input-group col-12" title="Localidade">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar-check-o"></i>
                  </span>
                </div>
                <select asp-for="Hour.LocalityId" asp-items="@(new SelectList(Model.Locality, "Id", "Name"))" class="form-control" disabled>
                </select>
                <span style="display: none" asp-validation-for="Hour.LocalityId" name="locality_id" id="locality_id" class="text-danger text-danger-span  col-12">Descrição inválida</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Data">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Hour.Date" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-2" title="Hora de entrada">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Start_Time" class="form-control" onchange="calculaHoraEdit()" readonly />
              </div>

              <div class="input-group col-2" title="Pausa para o almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Stop_Time" class="form-control" onchange="calculaHoraEdit()" readonly />
              </div>

              <div class="input-group col-2" title="Volta do almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Start_Time_2" class="form-control" onchange="calculaHoraEdit()" readonly />
              </div>

              <div class="input-group col-2" title="Hora de saída">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Stop_Time_2" class="form-control" onchange="calculaHoraEdit()" readonly />
              </div>

              <div class="input-group col-2" title="Total de horas">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Hour.Total_Activies_Hours" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Atividades">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list-ul"></i>
                  </span>
                </div>
                <textarea asp-for="Hour.Activies" class="form-control" placeholder="Atividades" style="height:100px;" readonly></textarea>
                <span asp-validation-for="Hour.Activies" class="text-danger col-12"></span>
              </div>
            </div>

            <input type="hidden" asp-for="Hour.Project" class="form-control" />
            <input type="hidden" asp-for="Hour.Consultant" />
            <input type="hidden" asp-for="Hour.Id_Project" />
            <input type="hidden" asp-for="Hour.Employee_Id" />
            <input type="hidden" asp-for="Hour.Creation_Date" />
            <div class="form-group form-actions text-right">
              <div class="col-12">
                <button class="btn btn-sm btn-warning" data-dismiss="modal" aria-label="Close">Voltar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/Hour/Details.js?@DateTime.Now.ToString()"></script>