@model CoreUI.Web.Models.ViewModel.HourFormViewModel

@{
  ViewData["Title"] = "Index";
}

<!-- Breadcrumb-->
<div class="container-fluid mt-2">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-edit"></i> Lançamento de hora
            <div class="card-header-actions">
              <!--
              <a asp-action="Create">
                <input type="hidden" asp-for="@@ViewData["Email"]" />
                <input type="hidden" asp-for="@@ViewData["Password"]" />
                <i class="fa fa-plus"></i>
              </a>
              -->
              <button type="button" class="btn btn-sm btn-ghost-primary" onclick="Modal(`Hours/Create?month=${$('#searchMothDataTable').val().length > 0 ? $('#searchMothDataTable').val() : null}&year=${$('#searchYearDataTable').val().length > 0 ? $('#searchYearDataTable').val() : null}&approval=${$('#approval').val().length > 0 ? $('#approval').val() : null}&description=${$('#description').val().length > 0 ? $('#description').val() : null}&clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}`, 'GET')">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row ml-0">
              <div class="col-12 mb-3">
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#formFilters" aria-expanded="false" aria-controls="formFilters">
                  Filtros
                </button>
              </div>

              <div id="DataTables_Table_0_filter" class="dataTables_filter row col-12 form-group">
                <div class="col-8">
                  <form id="formFilters" class="collapse" asp-action="Index">

                    <label>
                      Clientes:
                      <select name="clients" id="clients" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))" class="form-control">
                        <option value="">Selecione</option>
                      </select>
                    </label>

                    <label>
                      Projetos:
                      <select name="projects" id="projects" asp-items="@(new SelectList(Model.Projects, "Id", "Project_Name"))" class="form-control">
                        <option value="">Selecione</option>
                      </select>
                    </label>


                    <label>
                      Atividade:
                      <select name="description" id="description" class="form-control">
                        <option value="">Selecione</option>
                        <option value="1">Dia útil</option>
                        <option value="2">Férias</option>
                        <option value="3">Licença</option>
                      </select>
                    </label>

                    <label>
                      Status:
                      <select name="approval" id="approval" class="form-control">
                        <option value="">Selecione</option>
                        <option value="1">Aguardando</option>
                        <option value="2">Revisar</option>
                        <option value="3">Reprovado</option>
                        <option value="4">Aprovado</option>
                      </select>
                    </label>

                    <label>
                      Mês:
                      <select name="month" id="searchMothDataTable" class="form-control">
                        <option value="">Todos</option>
                        <option value="1">Jan</option>
                        <option value="2">Fev</option>
                        <option value="3">Mar</option>
                        <option value="4">Abr</option>
                        <option value="5">Mai</option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Ago</option>
                        <option value="9">Set</option>
                        <option value="10">Out</option>
                        <option value="11">Nov</option>
                        <option value="12">Dez</option>
                      </select>
                    </label>

                    <label>
                      Ano:
                      <select name="year" id="searchYearDataTable" class="form-control">
                        <option value=""></option>
                      </select>
                    </label>

                    <button type="submit" class="btn btn-primary" title="Enviar"><i class="fa fa-send-o"></i></button>
                    <button type="button" class="btn btn-danger btn-sm" title="Limpar" onclick="$('#formFilters input, #formFilters select').val(''); fnLoadMes();"><i class="icon-close font-2xl d-block"></i></button>
                  </form>
                </div>

                <div class="col-4 text-right">
                  <label class="text-left">
                    Total de Horas
                    <input class="form-control" id="TotalOfSumHours" disabled />
                  </label>
                </div>
              </div>
            </div>
            <div class="text-right">
              <label id="sum"></label>
            </div>
            <table class="table table-responsive-sm table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th style="display: none"></th>
                  <th>
                    Cliente
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.Project)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.Date)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.Description)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.Arrival_Time)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.Beginning_Of_The_Break)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.End_Of_The_Break)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.Exit_Time)
                  </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Hour.Total_Hours_In_Activity)
                  </th>
                  <!--
                  <th>
                    @@Html.DisplayNameFor(model => model.Activies)
                  </th>
                  -->
                  <th>
                    Status
                  </th>
                  <th>
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody id="tbodyHour">
                @foreach (var item in Model.Hours)
                {
                  <tr>
                    <th style="display: none"></th>
                    <th>
                      @Html.DisplayFor(modelItem => item.Client)
                    </th>
                    <th>
                      @Html.DisplayFor(modelItem => item.Project)
                    </th>
                    <td class="DatesMonth">
                      @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Description_Name)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Arrival_Time)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Beginning_Of_The_Break)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.End_Of_The_Break)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Exit_Time)
                    </td>
                    <td class="totalHours">
                      @Html.DisplayFor(modelItem => item.Total_Hours_In_Activity)
                    </td>
                    <!--
                    <td class="Activities" title="@@Html.DisplayFor(modelItem => item.Activies)">
                      @@Html.DisplayFor(modelItem => item.Activies)
                    </td>
                    -->
                    <td>
                      @{
                        switch (item.Approval)
                        {
                          case 1:
                            @Html.DisplayName("Aguardando");
                            break;

                          case 2:
                            @Html.DisplayName("Revisar");
                            break;

                          case 3:
                            @Html.DisplayName("Reprovado");
                            break;

                          case 4:
                            @Html.DisplayName("Aprovado");
                            break;

                          default:
                            @Html.DisplayName("Sem status");
                            break;
                        }

                      }
                    </td>
                    <td colspan="2">
                      <div class="row ml-0">
                        <button class="btn btn-ghost-warning" onclick="Modal(`/Hours/Details/@item.Id?Employee_id=@item.Employee_Id&month=${$('#searchMothDataTable').val().length > 0 ? $('#searchMothDataTable').val() : null}&year=${$('#searchYearDataTable').val().length > 0 ? $('#searchYearDataTable').val() : null}&approval=${$('#approval').val().length > 0 ? $('#approval').val() : null}&description=${$('#description').val().length > 0 ? $('#description').val() : null}&clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}`, 'GET')"><i class="fa fa-search"></i></button>

                        @{
                          if (item.Approval <= 1)
                          {
                            <button class="btn btn-ghost-primary" onclick="Modal(`/Hours/Edit/@item.Id?month=${$('#searchMothDataTable').val().length > 0 ? $('#searchMothDataTable').val() : null}&year=${$('#searchYearDataTable').val().length > 0 ? $('#searchYearDataTable').val() : null}&approval=${$('#approval').val().length > 0 ? $('#approval').val() : null}&description=${$('#description').val().length > 0 ? $('#description').val() : null}&clients=${$('#clients').val().length > 0 ? $('#clients').val() : null}&projects=${$('#projects').val().length > 0 ? $('#projects').val() : null}`, 'GET')"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-ghost-danger" onclick="fn_showMessageDelete(@item.Id);"><i class="fa fa-trash-o"></i></button>
                          }
                        }
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>

@{
  if (ViewBag.Month == null)
  {
    ViewBag.Month = DateTime.Now.Month;
  }

  if (ViewBag.Year == null)
  {
    ViewBag.Year = DateTime.Now.Year;
  }
}
<input type="hidden" name="Month" id="Month" value="@ViewBag.Month" />
<input type="hidden" name="Year" id="Year" value="@ViewBag.Year" />
<input type="hidden" name="Approval" id="Approval" value="@ViewBag.Approval" />
<input type="hidden" name="Description" id="Description" value="@ViewBag.Description" />
<input type="hidden" name="Clients" id="Clients" value="@ViewBag.Clients" />
<input type="hidden" name="Projects" id="Projects" value="@ViewBag.Projects" />

<script src="~/js/Hour/Index.js?@DateTime.Now.ToString()"></script>
<script src="~/js/Hour/Delete.js?@DateTime.Now.ToString()"></script>
